/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 800;
}

#laptop {
  margin: auto;
  width: 700px;
  height: 600px;
}

#screen {
  border: 5px solid black;
  border-radius: 1rem;
  height: 50%;
  overflow-y: auto;
}

/* Typing text area */
#typingText {
  margin: auto;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 50ch;
}

/* Keyboard part */
#keyboard {
  height: 50%;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #999;
  transform: perspective(1000px) rotateX(45deg);
  transform-origin: center top;
}

.row {
  height: 20%;
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
  margin: 0.125rem 0 0.125rem 0;
}

.key {
  width: 100%;
  padding: 0.5rem;
}

.multi-key {
  translate: 0 -8px;
}

/* Widths for certain keys */
#key-bckspc {
  width: 275%;
}

#key-tab {
  width: 200%;
}

#key-b-slash {
  width: 150%;
}

#key-caps {
  width: 250%;
}

#key-enter {
  width: 275%;
}

#key-l-shift,
#key-r-shift {
  width: 325%;
}

#key-space {
  width: 1000%;
}

#key-l-alt,
#key-r-alt {
  width: 150%;
}

#key-l-ctrl,
#key-r-ctrl {
  width: 175%;
}

/* COLORS OF KEYS */
.col-pinky {
  background-color: rgb(0, 255, 0);
  opacity: 0.25;
}

.col-ring {
  background-color: rgb(30, 144, 255);
  opacity: 0.25;
}

.col-middle {
  background-color: rgb(128, 0, 128);
  opacity: 0.25;
}

.col-l-index {
  background-color: rgb(255, 255, 0);
  opacity: 0.25;
}

.col-r-index {
  background-color: rgb(255, 165, 0);
  opacity: 0.25;
}

.col-thumb {
  background-color: rgb(255, 255, 255);
  opacity: 0.25;
}

.empty {
  background-color: rgb(191, 191, 191);
  opacity: 0.25;
}

/* HANDS */
#hands-container {
  position: relative;
  width: 300px;
  margin: auto;
  height: 125px;
}

.hand {
  margin: 0 -1rem 0 -1rem;
  background-color: white;
  width: 50%;
  height: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 4rem 4rem;
}

#left-hand {
  left: 0; /* Align with the left edge of the container */
  background-color: black;
}

#right-hand {
  right: 0; /* Align with the right edge of the container */
  background-color: black;
}

.finger {
  width: 20%;
  height: 50%;
  position: absolute;
  border-radius: 1rem 1rem 0 0;
  border-top: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  opacity: 0.25;
}

/* LEFT FINGERS */
#left-pinky {
  left: 0;
  top: -50%;
  height: 50%;
  background-color: rgb(0, 255, 0);
}

#left-ring {
  left: 20%;
  top: -80%;
  height: 80%;
  background-color: rgb(30, 144, 255);
}

#left-middle {
  left: 40%;
  top: -100%;
  height: 100%;
  background-color: rgb(128, 0, 128);
}

#left-index {
  left: 60%;
  top: -90%;
  height: 90%;
  background-color: rgb(255, 255, 0);
}

#left-thumb {
  left: 80%;
  top: -35%;
  height: 50%;
  background-color: rgb(255, 255, 255);
}

/* RIGHT FINGERS */
#right-pinky {
  right: 0;
  top: -50%;
  height: 50%;
  background-color: rgb(0, 255, 0);
}

#right-ring {
  right: 20%;
  top: -80%;
  height: 80%;
  background-color: rgb(30, 144, 255);
}

#right-middle {
  right: 40%;
  top: -100%;
  height: 100%;
  background-color: rgb(128, 0, 128);
}

#right-index {
  right: 60%;
  top: -90%;
  height: 90%;
  background-color: rgb(255, 165, 0);
}

#right-thumb {
  right: 80%;
  top: -35%;
  height: 50%;
  background-color: rgb(255, 255, 255);
}

.highlighted {
  opacity: 1;
}
